body {
	background-color: #ececec;
}

.jumbotron {
	background-color: #FFFFCC !important;
}

.text-center {
	text-align: center !important
}

.text-bold {
	font-weight: bold !important;
}

#modal-encabezado {
	background-color: #ffffcc;
	text-align: center;
	border-radius: 0;
	color: #000000;
}

#modal-cuerpo {
	background-color: #ececec;
	font-family: "Times New Roman", serif
}

#modal-pie {
	background-color: #ececec;
	border-radius: 0;
}

.texto {
	text-align: justify;
	font-size: 97%;
}

.bienvenida {
	text-align: center;
	font-family: sans-serif;
	font-size: 30px;
}